openapi: 3.0.0
servers:
  - description: Cycle Public API
    url: https://api.cycle.io
info:
  license:
    name: CC-BY-3.0
    url: https://creativecommons.org/licenses/by/3.0/
  description: |
    The Cycle API is a [REST-based](http://en.wikipedia.org/wiki/Representational_state_transfer), resource-oriented API
    designed to be easy to use and understand. Using this API, you are able to fully interact with the Cycle Platform. 

    All API responses return JSON, including errors. There is also support for cross-origin resource sharing, so this API can be used
    in a client-side web application as well.

    ## Auth Basics 
    Every API request much have an accompanying API key in the Authorization header. For more informaiton on generating an API key head over to the [Portal Docs](https://docs.cycle.io/docs/hubs/API-access/api-key-generate). 

    Your API key should never be made publicly available, published to a public repository, or used on a client side
    web app. If you would like to use the API from a web app, you should create a thin-client service that acts as a passthrough for
    your API requests.

    ## The Root Document
    Every response follows the same structure, known as the root document. The main data structure, known as a
    resource, is nested under a data field. If you request a collection of resources, the
    data field will be an array of those resources. If you request a single resource, the data field will be
    equal to that resource.

    If there is an error, the error field will be present, and the data field will be present and null.

    The root resource. If fetching a collection, this will be an array of resource objects.

    Includes fields - the key will be the name of the included item passed. All values of include fields
    will be a full resource structure. (i.e. including environments will embed full environment objects by ID)

    Meta Fields - the key will be equal to the name of the meta field provided. Values of meta
    fields will vary based on the resource. These values are injected into the data object(s).

    ## Scope
    In order to fetch resources that are part of a hub (containers, environments, etc.), you will need to pass an
    X-Hub-ID header. When fetching collections of resources, this will limit the response to contain only resources from
    the specified hub. Most requests require this header.

    ## Queries
    When trying to gather more complete or specific data you can use query paramaters to supplement the normal return (metas,
    includes) and you can also add specificity to the format and the order (sort, filter). It's worth understanding that
    sort & filter should only be used on collections.

    **Sort** - An array of sort values. To sort descending, put a `-`n front of the value, i.e. `-id`.

    **Include** - An array of include values. Included resources will show up under the root document's `include` field, with the key being the id
    of the included resource. In the case of applying an include to a collection of resources, if two resources share the same
    include, it will only appear once in the return.

    **Meta** - An array of meta values. Meta values will show up under a resource's `meta` field. In the case of applying a meta to a
    collection of resources, each resource will have it's own relevant meta data. In some rare cases, meta may not apply to
    individual resources, and may appear in the root document. These will be clearly labeled.

    **Filter** - The filter field is a key-value object, where the key is what you would like to filter, and the value is the value you're filtering for.
  version: 1.0.0
  title: Cycle API
  contact:
    email: support@cycle.io
tags:
  - name: Environments
    description: Environments are logical groupings of containers. All containers deployed inside an environment automatically have a private network built between them, enabling seamless communication.
  - name: Containers
    description: Containers are a way to package together your application along with it's dependencies, and run in a resource isolated process. They provide consistency across different hosts, efficiency over traditional hosting methods, and facilitate a micro-service based approach, where each logical piece of your application is split into multiple, easily testable parts (such as API, Backend, Frontend, etc).
  - name: Images
    description: 'Container images are atomic copies of a filesystem that are built from a file (ex: Dockerfile).'
  - name: Stacks
    description: Stacks offer a powerful way to declarative manage multiple containers, and their deployments to the Cycle platform. Using stacks, you are able to configure every aspect of your applications ahead of time, save it to your version controlled repo, and have Cycle automate the deployment any time you make a push.
  - name: Pipelines
    description: From simple tasks like importing an image, to complex sequences that affect entire clusters, Deployment Pipelines make it easy to automate nearly any task within Cycle.
  - name: DNS
    description: Cycle provides a full suite of DNS tooling.  Set up everything from a DNS Zone, record, certificate, and more.
  - name: Infrastructure
    description: Cycle creates a paradigm shift when it comes to dealing with your infrastructure. The primary focus when using the platform is your containers, while the servers underneath appear as a giant pool of distributed resources.
  - name: Providers
    description: 'A subgroup of infrastructure, provider calls deal specifically with infrastructure providers used through the Cycle platform. '
  - name: Servers
    description: A subgroup of infrastructure, servers call deal specificially with server resources.
  - name: SDN
    description: Software defined networks that can be created when a user needs to create a new private network spanning multiple environments.
  - name: WebsocketAuth
    description: 'A collection of calls used to create resources necessary to connect to a websocket based resource. '
  - name: Backups
    description: A subgroup of containers, backups refers to calls that have to do with automated backups managed through a Cycle integration.
  - name: Instances
    description: 'A subgroup of containers, instances refers to calls that work with container instance resources. '
  - name: ApiKeys
    description: A subgroup of Hubs, ApiKeys refers to calls that have to do with creating and managing API key resources.
  - name: ImageSources
    description: 'A subgroup of images, ImageSources refers to calls that have to do with creating and managing image source resources. '
  - name: InfrastructureIPs
    description: A subgroup of infrastructure which refers to calls that have to do with managing IPs for infrastructure providers.
  - name: Jobs
    description: 'Jobs are calls which refer to managing job resources. '
security:
  - bearerAuth: []
    hubAuth: []
paths:
  /v1/account:
    get:
      operationId: getAccount
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: Fetch Account
      description: Gets the account associated with the authenticated user token.
      responses:
        '200':
          description: Returns an account.
          content:
            application/json:
              schema:
                title: AccountResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/DefaultError'
    patch:
      operationId: updateAccount
      tags:
        - Account
      summary: Update Account
      description: Updates the current account
      requestBody:
        description: Parameters for updating an account.
        content:
          application/json:
            schema:
              description: Parameters for updating an account.
              type: object
              properties:
                name:
                  type: object
                  description: The name for the account.
                  properties:
                    first:
                      type: string
                    last:
                      type: string
                    allow_support_login:
                      type: boolean
      responses:
        '200':
          description: Returns the updated account resource.
          content:
            application/json:
              schema:
                title: AccountUpdateResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/DefaultError'
    delete:
      operationId: removeAccount
      tags:
        - Account
      summary: Delete Account
      description: Deletes the current account
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: AccountUpdateResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/account/invites:
    get:
      operationId: getAccountInvites
      security:
        - bearerAuth: []
      tags:
        - Accounts
      parameters:
        - name: meta
          in: query
          required: false
          description: A comma separated list of meta values. Meta values will show up under a resource's `meta` field. In the case of applying a meta to a collection of resources, each resource will have it's own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.
          schema:
            type: array
            items:
              type: string
              enum:
                - capabilities
        - name: include
          in: query
          required: false
          description: A comma separated list of include values. Included resources will show up under the root document's `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.
          schema:
            type: array
            items:
              type: string
              enum:
                - senders
                - hubs
                - accounts
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Account Invites
      description: Lists invites associated with a given account.
      responses:
        '200':
          description: Returns a list of account invites.
          content:
            application/json:
              schema:
                title: AccountInvitesResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HubMembership'
                  includes:
                    $ref: '#/components/schemas/HubMembershipIncludes'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/account/invites/{inviteId}:
    patch:
      operationId: updateAccountInvite
      security:
        - bearerAuth: []
      tags:
        - Accounts
      parameters:
        - name: inviteId
          description: The ID of the given invite.
          in: path
          required: true
          schema:
            type: string
      summary: Update Account Invite
      description: Update a given invite.
      requestBody:
        description: Req body for updating account invite
        content:
          application/json:
            schema:
              type: object
              properties:
                accept:
                  type: boolean
                  description: Set accept to true to accept
                decline:
                  type: boolean
                  description: Set decline to true to decline
      responses:
        '200':
          description: Returns an membership resource.
          content:
            application/json:
              schema:
                title: UpdateAccountInviteResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/HubMembership'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/account/memberships:
    get:
      operationId: getAccountMemberships
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: List Account Memberships
      description: Lists the memberships for a given account.
      responses:
        '200':
          description: List of membership resources.
          content:
            application/json:
              schema:
                title: AccountMembershipsResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HubMembership'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/account/logins:
    get:
      operationId: getAccountLogins
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: List Account Logins
      parameters:
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
      description: Lists logins associated with a given account.
      responses:
        '200':
          description: Returns a collection of logins.
          content:
            application/json:
              schema:
                title: AccountLoginsResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/EmployeeLogin'
                        - $ref: '#/components/schemas/PasswordLogin'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/account/password:
    patch:
      operationId: resetPassword
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: Update Account Invite
      description: Update a given invite.
      requestBody:
        description: Req body for updating account invite
        content:
          application/json:
            schema:
              type: object
              properties:
                current:
                  type: string
                  description: Current Password
                new:
                  type: string
                  description: New Password
      responses:
        '200':
          description: Returns an Account resource.
          content:
            application/json:
              schema:
                title: ResetPasswordApiResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/account/2fa/setup:
    get:
      operationId: getTwoFaInfo
      tags:
        - Accounts
      parameters: []
      summary: Get TwoFa setup info
      description: Get barcode and secret for TwoFa authentication
      responses:
        '200':
          description: Returns a TwoFaSetupResponse resource.
          content:
            application/json:
              schema:
                title: TwofaSetupResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TwoFaDisableResponse'
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      operationId: setupTwoFa
      tags:
        - Accounts
      parameters: []
      summary: Setup TwoFa
      description: Setup TwoFa for an account
      requestBody:
        description: Parameters setting up TwoFa
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: The token to authenticate TwoFa setup.
      responses:
        '200':
          description: Returns a TwoFaSetupResponse resource.
          content:
            application/json:
              schema:
                title: TwofaSetupResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TwoFaSetupResponse'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/account/2fa/disable:
    post:
      operationId: disableTwoFa
      tags:
        - Accounts
      parameters: []
      summary: Disable TwoFa
      description: Disable TwoFa for an account
      requestBody:
        description: Parameters setting up TwoFa
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: The token to authenticate TwoFa Disable.
      responses:
        '200':
          description: Returns a TwoFaDisableResponse resource.
          content:
            application/json:
              schema:
                title: TwofaDisableResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TwoFaDisableResponse'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/announcements:
    get:
      operationId: getAnnouncementsList
      security:
        - bearerAuth: []
      tags:
        - Announcements
      parameters:
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Announcements
      description: Lists any important updates posted by the Cycle team
      responses:
        '200':
          description: List of announcements.
          content:
            application/json:
              schema:
                title: AnnouncementsListResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Announcement'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/orders:
    get:
      operationId: getOrders
      tags:
        - Billing
      parameters:
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
        - name: meta
          in: query
          required: false
          description: A comma separated list of meta values. Meta values will show up under a resource's `meta` field. In the case of applying a meta to a collection of resources, each resource will have it's own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.
          schema:
            type: array
            items:
              type: string
              enum:
                - due
        - name: include
          in: query
          required: false
          description: A comma separated list of include values. Included resources will show up under the root document's `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.
          schema:
            type: array
            items:
              type: string
              enum:
                - promo_codes
      summary: List Billing Orders
      description: Requires the `billing-orders-manage` capability.
      responses:
        '200':
          description: Returns a collection of billing order resources.
          content:
            application/json:
              schema:
                title: ListBillingOrdersResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  includes:
                    $ref: '#/components/schemas/OrderIncludes'
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      operationId: createOrder
      tags:
        - Billing
      parameters: []
      summary: Create order
      description: Requires TODO capability.
      requestBody:
        description: Parameters for creating a new order
        content:
          application/json:
            schema:
              type: object
              properties:
                tier_plan_id:
                  type: string
                  description: Id associated with the tier plan
                support_plan_id:
                  type: string
                  description: Id associated with the support plan
                term_length:
                  type: string
                  description: String that defines term length
                  enum:
                    - once
                    - monthly
                    - yearly
                promo_code:
                  type: string
                  description: String that defines a promo code
      responses:
        '201':
          description: Returns an order resource.
          content:
            application/json:
              schema:
                title: OrderResource
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BillingOrder'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/orders/{orderId}:
    get:
      operationId: getBillingOrder
      tags:
        - Billing
      parameters:
        - name: orderId
          description: The ID of the billing order.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Billing Order
      description: Requires the `billing-orders-manage` capability.
      responses:
        '200':
          description: Returns a billing order resource
          content:
            application/json:
              schema:
                title: FetchBillingOrderResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order'
        default:
          $ref: '#/components/responses/DefaultError'
    patch:
      operationId: updateBillingOrder
      tags:
        - Billing
      parameters:
        - name: orderId
          description: The ID of the billing order.
          in: path
          required: true
          schema:
            type: string
      summary: Update Billing Order
      description: Requires the `billing-orders-manage` capability.
      requestBody:
        description: Parameters for creating a new order
        content:
          application/json:
            schema:
              type: object
              properties:
                tier_plan_id:
                  type: string
                  description: Id associated with the tier plan
                support_plan_id:
                  type: string
                  description: Id associated with the support plan
                term_length:
                  type: string
                  description: String that defines term length
                  enum:
                    - once
                    - monthly
                    - yearly
                promo_code:
                  type: string
                  description: String that defines a promo code
      responses:
        '200':
          description: Returns a billing order resource.
          content:
            application/json:
              schema:
                title: BillingOrderUpdateResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Order'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/orders/{orderId}/tasks:
    post:
      tags:
        - Orders
      operationId: createOrderJob
      parameters:
        - name: orderId
          description: The ID of the requested order
          in: path
          required: true
          schema:
            type: string
      summary: Create Order Job
      description: Used to confirm an order
      requestBody:
        description: Parameters for creating a new order job
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum:
                    - confirm
                  description: The name of the action to perform
      responses:
        '202':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/plans/support:
    get:
      operationId: getBillingSupportPlans
      tags:
        - Billing
      parameters:
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Support Plans
      description: Doesn't require a specific capability to call.
      responses:
        '200':
          description: Returns a billing support plan.
          content:
            application/json:
              schema:
                title: ListBillingSupportPlanReturn
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupportPlan'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/plans/tiers:
    get:
      operationId: getTiers
      tags:
        - Billing
      summary: List Tiers
      description: Returns list of availiable tiers
      parameters: []
      responses:
        '200':
          description: Returns a collection of tier resources.
          content:
            application/json:
              schema:
                title: ListTiersResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TierPlan'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/methods:
    get:
      operationId: getBillingMethods
      tags:
        - Billing
      parameters:
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Billing Methods
      description: Requires the `billing-methods-manage` capability.
      responses:
        '200':
          description: returns a collection of billing methods.
          content:
            application/json:
              schema:
                title: ListBillingMethodsReturn
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Method'
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      operationId: createBillingMethod
      tags:
        - Billing
      parameters: []
      summary: Create Billing Method
      description: Requires the `billing-methods-manage` capability.
      requestBody:
        description: Parameters for creating a new billing method.
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - primary
                - address
                - credit_card
              properties:
                name:
                  type: string
                  description: A name for the billing method.
                primary:
                  type: boolean
                  description: A boolean where true represents a billing method being primary.
                address:
                  $ref: '#/components/schemas/Address'
                credit_card:
                  type: object
                  required:
                    - name
                    - number
                    - cvv
                    - expiration
                  properties:
                    name:
                      type: string
                    number:
                      type: string
                    cvv:
                      type: string
                    expiration:
                      type: object
                      required:
                        - month
                        - year
                      properties:
                        month:
                          type: number
                        year:
                          type: number
      responses:
        '200':
          description: Returns a billing method resource.
          content:
            application/json:
              schema:
                title: CreateBillingMethodReturn
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Method'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/methods/{methodId}:
    get:
      operationId: getBillingMethod
      tags:
        - Billing
      parameters:
        - name: methodId
          description: The ID of the billing method.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Billing Method
      description: Requires the `billing-methods-manage` capability.
      responses:
        '200':
          description: Returns a billing method resource.
          content:
            application/json:
              schema:
                title: FetchBillingMethodReturn
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Method'
        default:
          $ref: '#/components/responses/DefaultError'
    patch:
      operationId: updateBillingMethod
      tags:
        - Billing
      parameters:
        - name: methodId
          description: The ID of the billing method.
          in: path
          required: true
          schema:
            type: string
      summary: Update Billing Invoice
      description: Requires the `billing-methods-manage` capability.
      requestBody:
        description: Parameters for updating a billing method.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: A name for the billing method.
                primary:
                  type: boolean
                  description: A boolean where true represents a billing method being primary.
                address:
                  $ref: '#/components/schemas/Address'
                credit_card:
                  $ref: '#/components/schemas/CreditCard'
      responses:
        '200':
          description: Returns a billing method resource.
          content:
            application/json:
              schema:
                title: UpdateBillingMethodReturn
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Method'
        default:
          $ref: '#/components/responses/DefaultError'
    delete:
      operationId: removeBillingMethod
      tags:
        - Billing
      parameters:
        - name: methodId
          description: The ID of the billing method.
          in: path
          required: true
          schema:
            type: string
      summary: Delete Biilling Method
      description: Requires the `billing-methods-manage` capability.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/invoices:
    get:
      operationId: getInvoices
      tags:
        - Billing
      parameters:
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
        - name: meta
          in: query
          required: false
          description: A comma separated list of meta values. Meta values will show up under a resource's `meta` field. In the case of applying a meta to a collection of resources, each resource will have it's own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.
          schema:
            type: array
            items:
              type: string
              enum:
                - due
      summary: List Billing Invoices
      description: Requires the `billing-invoices-view` capability.
      responses:
        '200':
          description: Returns a collection of invoice resources.
          content:
            application/json:
              schema:
                title: ListBillingInvoicesReturn
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/invoices/{invoiceId}:
    get:
      operationId: getInvoice
      tags:
        - Billing
      parameters:
        - name: invoiceId
          description: The ID of the invoice.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Billing Invoice
      description: Requires the `billing-invoices-view` capability.
      responses:
        '200':
          description: Returns an invoice resource.
          content:
            application/json:
              schema:
                title: FetchBillingInvoiceReturn
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/invoices/{invoiceId}/tasks:
    post:
      operationId: createInvoiceJob
      tags:
        - Billing
      parameters:
        - name: invoiceId
          description: The ID of the invoice.
          in: path
          required: true
          schema:
            type: string
      summary: Create Invoice Job
      description: Requires the `billing-invoices-pay` capability.
      requestBody:
        description: Parameters for creating a new invoice job.
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum:
                    - pay
                  description: The name of the action to perform.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/services:
    get:
      operationId: getBillingServices
      tags:
        - Billing
      parameters:
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Billing Services
      description: Requries the `billing-services-view` capability.
      responses:
        '200':
          description: Returns a collection of billing service resources.
          content:
            application/json:
              schema:
                title: ListBillingServicesResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/services/{servicesId}:
    get:
      operationId: getBillingService
      tags:
        - Billing
      parameters:
        - name: servicesId
          description: The ID of the billing service.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Billing Service
      description: Requries the `billing-services-view` capability.
      responses:
        '200':
          description: Returns a billing service resources.
          content:
            application/json:
              schema:
                title: ListBillingServicesResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Service'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/services/overages:
    get:
      operationId: getBillingOverages
      tags:
        - Billing
      parameters:
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Billing Overages
      description: Doesn't require a specific capability.
      responses:
        '200':
          description: Returns a billing overage resource.
          content:
            application/json:
              schema:
                title: ListBillingOveragesResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Overage'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/credits:
    get:
      operationId: getCredits
      tags:
        - Billing
      parameters:
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/FilterParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Billing Credits
      description: Requires the `billing-credits-view` capability.
      responses:
        '200':
          description: Returns a collection of credit resources.
          content:
            application/json:
              schema:
                title: ListBillingCreditsReturn
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Credit'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/billing/credits/{creditsId}:
    get:
      operationId: getCredit
      tags:
        - Billing
      parameters:
        - name: creditsId
          description: The ID for a given credit.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Billing Credit
      description: Requires the `billing-credits-view` capability.
      responses:
        '200':
          description: Returns a credit resource.
          content:
            application/json:
              schema:
                title: FetchBillingCreditReturn
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Credit'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments:
    get:
      operationId: getEnvironments
      tags:
        - Environments
      parameters:
        - name: meta
          in: query
          required: false
          description: A comma separated list of meta values. Meta values will show up under a resource's `meta` field. In the case of applying a meta to a collection of resources, each resource will have it's own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.
          schema:
            type: array
            items:
              type: string
              enum:
                - containers
                - containers_count
                - instances_count
        - name: include
          in: query
          required: false
          description: A comma separated list of include values. Included resources will show up under the root document's `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - stacks
        - name: filter
          in: query
          required: false
          description: |
            ## Filter Field 
            The filter field is a key-value object, where the key is what you would like to filter, and the value is the value you're filtering for.

            ## Possible Values
            ### Search 
            `filter[search]=value` search for a value associated with a field on the given environment(s).

            ### State
            `filter[state]=value1,value2` state filtering will allow you to filter by the environment's current state.

            ### Stack Build
            `filter[stack_build]=ID` stack build filtering by ID.  Submit the ID of the stack build you wish to filter for and the return sill be any environments that have the stack build deployed to them.
          schema:
            type: object
            additionalProperties:
              type: string
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Environments
      description: Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns a collection of environment resources.
          content:
            application/json:
              schema:
                title: EnvironmentListResponse
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Environment'
                  includes:
                    type: object
                    properties:
                      creators:
                        $ref: '#/components/schemas/CreatorInclude'
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      operationId: createEnvironment
      tags:
        - Environments
      parameters: []
      summary: Create Environment
      description: Requires the `environments-create` capability.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - cluster
                - about
                - features
                - stack
              properties:
                name:
                  type: string
                  description: A user defined name for the environment resource.
                cluster:
                  type: string
                  description: The cluster this environment is associated with.
                about:
                  type: object
                  description: Contains details regarding the environment.
                  required:
                    - description
                  properties:
                    description:
                      type: string
                      description: A custom description for this environment.
                features:
                  $ref: '#/components/schemas/Features'
                stack:
                  type: object
                  nullable: true
                  description: An object representing the associated stack.
                  required:
                    - id
                    - build_id
                  properties:
                    id:
                      $ref: '#/components/schemas/ID'
                    build_id:
                      $ref: '#/components/schemas/ID'
      responses:
        '201':
          description: Returns an environment resource.
          content:
            application/json:
              schema:
                title: EnvironmentResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Environment'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}:
    get:
      operationId: getEnvironmentById
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
        - name: meta
          in: query
          required: false
          description: A comma separated list of meta values. Meta values will show up under a resource's `meta` field. In the case of applying a meta to a collection of resources, each resource will have it's own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.
          schema:
            type: array
            items:
              type: string
              enum:
                - containers
                - containers_count
                - instances_count
        - name: include
          in: query
          required: false
          description: A comma separated list of include values. Included resources will show up under the root document's `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - stacks
      summary: Fetch Environment
      description: Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns an environment resource.
          content:
            application/json:
              schema:
                title: EnvironmentResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Environment'
                  includes:
                    type: object
                    properties:
                      creators:
                        $ref: '#/components/schemas/CreatorInclude'
        default:
          $ref: '#/components/responses/DefaultError'
    patch:
      operationId: updateEnvironment
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
      summary: Update Environment
      description: Updates the specificed environment, setting the values of the parameters passed. If any parameters are omitted, they will be left unchanged. Requires the `environments-update` capability.
      requestBody:
        description: Parameters for updating an environment.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                about:
                  $ref: '#/components/schemas/EnvironmentAbout'
      responses:
        '200':
          description: Returns an environment resource.
          content:
            application/json:
              schema:
                title: EnvironmentResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Environment'
        default:
          $ref: '#/components/responses/DefaultError'
    delete:
      operationId: removeEnvironment
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
      summary: Remove Environment
      description: Requires the `environments-update` capability.
      responses:
        '202':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/tasks:
    post:
      tags:
        - Environments
      operationId: createEnvironmentJob
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
      summary: Create Environment Job
      description: Used to `start`, `stop`, or `delete` an environment. Requires the `environments-state` capability.
      requestBody:
        description: Parameters for creating a new environment job.
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  enum:
                    - start
                    - stop
                    - initialize
                  description: The name of the action to perform.
      responses:
        '202':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/summary:
    get:
      tags:
        - Environments
      operationId: getEnvironmentSummary
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Environment Summary
      description: Fetches a single summary object for a specific environment. Contains useful and relevant data/statistics that would otherwise be several separate API calls.  Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns an environment summary object.
          content:
            application/json:
              schema:
                title: EnvironmentSummaryResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EnvironmentSummary'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/services/lb:
    get:
      operationId: getLoadBalancerInfo
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The environmentId where the load balancer resides.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch LB Info
      description: Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns a load balancer info resource.
          content:
            application/json:
              schema:
                title: LoadBalancerEnvironmentService
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LoadBalancerInfoReturn'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/services/lb/tasks:
    post:
      operationId: reconfigureLoadBalancer
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the environment where this load balancer resides.
          in: path
          required: true
          schema:
            type: string
      summary: Reconfigure LB
      description: Creates a task that will update the load balancer's configuration.
      requestBody:
        description: Parameters for reconfiguring a load balancer.
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - contents
              properties:
                action:
                  type: string
                  enum:
                    - reconfigure
                  description: The name of the action to perform.
                contents:
                  type: object
                  properties:
                    customize:
                      type: boolean
                      description: Boolean that sets custom vs default VPN configuration
                    high_availability:
                      type: boolean
                      description: A boolean where `true` represents the desire to run the environment load balancer service in high availability mode.
                    config:
                      type: object
                      description: The config object for the loadbalancer service.
                      nullable: true
                      required:
                        - haproxy
                      properties:
                        version:
                          type: string
                        ipv4:
                          type: boolean
                          nullable: true
                          description: Allow / disallow traffic to be routed via IPv4.
                        ipv6:
                          type: boolean
                          nullable: true
                          description: Allow / disallow traffic to be routed via IPv6.
                        haproxy:
                          type: object
                          description: Describes settings that are passed to HAProxy within the load balancer.
                          nullable: true
                          required:
                            - default
                            - ports
                          properties:
                            default:
                              $ref: '#/components/schemas/HAProxyConfig'
                            ports:
                              type: object
                              additionalProperties:
                                type: string
                                oneOf:
                                  - $ref: '#/components/schemas/HAProxyConfig'
      responses:
        '202':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/services/discovery/tasks:
    post:
      operationId: reconfigureDiscovery
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the environment where this discovery service resides.
          in: path
          required: true
          schema:
            type: string
      summary: Reconfigure Discovery
      description: Creates a task that will update the discovery service's configuration.
      requestBody:
        description: Parameters for reconfiguring a discovery service.
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - contents
              properties:
                action:
                  type: string
                  enum:
                    - reconfigure
                  description: The name of the action to perform.
                contents:
                  type: object
                  properties:
                    high_availability:
                      type: boolean
                      description: A boolean where `true` represents the desire to run the environment discovery service in high availability mode.
      responses:
        '202':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/services/vpn:
    get:
      operationId: getVPNInfo
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The environmentId where the VPN resides.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch VPN Info
      description: Requires the `environments-vpn` capability.
      responses:
        '200':
          description: Returns a VPNInfo resource.
          content:
            application/json:
              schema:
                title: VPNInfoEnvironmentService
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VPNInfoReturn'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/services/vpn/users:
    get:
      operationId: getVPNUsers
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The environmentId where the VPN service resides.
          in: path
          required: true
          schema:
            type: string
      summary: List VPN Users
      description: Requires the `environments-vpn-manage` capability.
      responses:
        '200':
          description: Returns a list of VPN users for the given VPN.
          content:
            application/json:
              schema:
                title: getVPNUsersReturn
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VPNUsers'
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      operationId: createVPNUser
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The environmentId where the VPN service resides.
          in: path
          required: true
          schema:
            type: string
      summary: Create VPN User
      description: Requires the `environments-vpn-manage` capability.
      requestBody:
        description: Parameters for creating a new VPN user.
        content:
          application/json:
            schema:
              type: object
              required:
                - value
              properties:
                value:
                  $ref: '#/components/schemas/VPNUsers'
      responses:
        '201':
          description: Returns a VPN user resource.
          content:
            application/json:
              schema:
                title: VPNUserResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/VPNUsers'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/services/vpn/users/{userId}:
    delete:
      operationId: removeVPNUser
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The environmentId where the VPN service the given user belongs to resides.
          in: path
          required: true
          schema:
            type: string
        - name: userId
          description: The userId of the user to be deleted.
          in: path
          required: true
          schema:
            type: string
      summary: Remove VPN user
      description: Requires the `environments-vpn-manage` capability.
      responses:
        '200':
          description: Returns a null data object.
          content:
            application/json:
              schema:
                title: VPNUserDeleteReturn
                type: object
                properties:
                  data:
                    type: string
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/services/vpn/tasks:
    post:
      operationId: reconfigureVPN
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the environment the VPN service resides in.
          in: path
          required: true
          schema:
            type: string
      summary: Reconfigure VPN
      description: Requires the `environments-vpn-manage` capability.
      requestBody:
        description: An object to be submitted when reconfiguring a VPN service.
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - contents
              properties:
                action:
                  type: string
                  enum:
                    - reconfigure
                  description: The action to take.
                contents:
                  type: object
                  description: Additional information the platform needs to create this job.
                  properties:
                    enable:
                      type: boolean
                      description: A boolean where true means the VPN service is enabled.
                    config:
                      type: object
                      nullable: true
                      description: The config object for the VPN service, in this case without the required fields normally found in a VPN config object.
                      properties:
                        allow_internet:
                          type: boolean
                          description: If true, routes all traffic through the VPN, even non-Cycle traffic.
                        auth:
                          type: object
                          description: Auth configuration for the VPN.
                          required:
                            - webhook
                            - cycle_accounts
                          properties:
                            webhook:
                              type: string
                              nullable: true
                              description: A webhook endpoint to hit. Will be passed the login credentials provided to the user, and should return a 200 status if the login is permitted.
                            cycle_accounts:
                              type: boolean
                              description: If true, allows any Cycle account with access to the environment to log in to the VPN using their Cycle email and password.
                            vpn_accounts:
                              type: boolean
                              description: If true, allows the custom VPN accounts to log in to the VPN.
      responses:
        '202':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                title: TaskResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/telemetry/instances:
    get:
      operationId: getEnvironmentInstancesTelemetry
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the desired environment
          in: path
          required: true
          schema:
            type: string
        - name: filter
          in: query
          required: false
          description: |
            ## Filter Field 
            The filter field is a key-value object, where the key is what you would like to filter, and the value is the value you're filtering for.

            ## Possible Values
            ### Range 
            `filter[range-start]=timestamp&filter[range-end]=timestamp` filter by range giving two times a `start` time and an `end` time. Date format `2023-03-07T14:55:17-08:00`.
          schema:
            type: object
            additionalProperties:
              type: string
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
      summary: List Telemetry Data
      description: Requires the `environments-view` capability.
      responses:
        '200':
          description: Returns a collection of telemetry data points.
          content:
            application/json:
              schema:
                title: EnvironmentInstanceTelemetry
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstanceTelemetryPoint'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/scoped-variables:
    get:
      operationId: listScopedVariables
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
        - name: filter
          in: query
          required: false
          description: |
            ## Filter Field 
            The filter field is a key-value object, where the key is what you would like to filter, and the value is the value you're filtering for.

            ## Possible Values
            ### Search 
            `filter[search]=value` search for a value associated with a field on the given scoped variable(s).

            ### State
            `filter[state]=value1,value2` state filtering will allow you to filter by the scoped variable's current state.
          schema:
            type: object
            additionalProperties:
              type: string
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Scoped Variables
      description: Requires the `scoped-variables-view` capability.
      responses:
        '200':
          description: Returns a collection of scoped variable resources.
          content:
            application/json:
              schema:
                title: ListScopedVariablesResponse
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScopedVariable'
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      operationId: createScopedVariable
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
      summary: Create Scoped Variable
      description: Requires the `scoped-variables-manage` capability.
      requestBody:
        description: Parameters for creating a scoped variable.
        content:
          application/json:
            schema:
              type: object
              required:
                - identifier
                - scope
                - source
              properties:
                identifier:
                  type: string
                  description: An identifier, similar to a key in an environment variable.  Its used when envoking the scoped variable.
                secret:
                  nullable: true
                  type: object
                  description: An object with information about the encryption of the scoped variable.
                  required:
                    - encrypted
                  properties:
                    encrypted:
                      type: boolean
                      description: A boolean where true means the scoped variables value is encrypted.
                    hint:
                      type: string
                      description: A hint for the decryption password.
                scope:
                  $ref: '#/components/schemas/ScopedVariableScope'
                source:
                  type: object
                  description: The source or value of the scoped variable.
                  discriminator:
                    propertyName: type
                  anyOf:
                    - $ref: '#/components/schemas/RawSource'
                    - $ref: '#/components/schemas/URLSource'
      responses:
        '201':
          description: Returns a scoped variable resource.
          content:
            application/json:
              schema:
                title: CreateScopedVariableResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScopedVariable'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/environments/{environmentId}/scoped-variables/{scopedVariableId}:
    get:
      operationId: fetchScopedVariable
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
        - name: scopedVariableId
          description: The ID of the requested scoped variable.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Scoped Variable
      description: Requires the `scoped-variables-view` capability.
      responses:
        '200':
          description: Returns a scoped variable resource.
          content:
            application/json:
              schema:
                title: ScopedVariableResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScopedVariable'
        default:
          $ref: '#/components/responses/DefaultError'
    patch:
      operationId: updateScopedVariable
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
        - name: scopedVariableId
          description: The ID of the requested scoped variable.
          in: path
          required: true
          schema:
            type: string
      summary: Update Scoped Variable
      description: Requires the `scoped-variables-manage` capability.
      requestBody:
        description: Parameters for updating a scoped variable.
        content:
          application/json:
            schema:
              type: object
              properties:
                identifier:
                  type: string
                  description: An identifier, similar to a key in an environment variable.  Its used when envoking the scoped variable.
                secret:
                  nullable: true
                  type: object
                  description: An object with information about the encryption of the scoped variable.
                  required:
                    - encrypted
                  properties:
                    encrypted:
                      type: boolean
                      description: A boolean where true means the scoped variables value is encrypted.
                    hint:
                      type: string
                      description: A hint for the decryption password.
                scope:
                  $ref: '#/components/schemas/ScopedVariableScope'
                source:
                  type: object
                  description: The source or value of the scoped variable.
                  discriminator:
                    propertyName: type
                  anyOf:
                    - $ref: '#/components/schemas/RawSource'
                    - $ref: '#/components/schemas/URLSource'
      responses:
        '200':
          description: Returns a scoped variable resource.
          content:
            application/json:
              schema:
                title: UpdateScopedVariableResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScopedVariable'
        default:
          $ref: '#/components/responses/DefaultError'
    delete:
      operationId: removeScopedVariableById
      tags:
        - Environments
      parameters:
        - name: environmentId
          description: The ID of the requested environment.
          in: path
          required: true
          schema:
            type: string
        - name: scopedVariableId
          description: The ID of the requested scoped variable.
          in: path
          required: true
          schema:
            type: string
      summary: Remove Scoped Variable
      description: Requires the `scoped-variables-manage` capability.
      responses:
        '202':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/containers:
    get:
      operationId: getContainers
      tags:
        - Containers
      summary: List Containers
      description: Requires the `containers-view` capability.
      parameters:
        - name: meta
          in: query
          required: false
          description: A comma separated list of meta values. Meta values will show up under a resource's `meta` field. In the case of applying a meta to a collection of resources, each resource will have it's own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.
          schema:
            type: array
            items:
              type: string
              enum:
                - instances_count
                - domain
                - domains
                - ips
        - name: include
          in: query
          required: false
          description: A comma separated list of include values. Included resources will show up under the root document's `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - images
                - stack_builds
                - stacks
                - environments
        - name: filter
          in: query
          required: false
          description: |
            ## Filter Field
            The filter field is a key-value object, where the key is what you would like to filter, and the value is the value you're filtering for.

            ## Possible Values
            ### Search
            `filter[search]=value` search containers for a value associated with a field on the given container(s).

            ### State
            `filter[state]=value1,value2` state filtering will allow you to filter by the container's current state.

            ### Service
            `filter[service]=value` service filtering will allow you to filter by service type: `loadbalancer`, `discovery`, `vpn`.

            ### Public Network
            `filter[public_network]=value` public network filtering will allow you to filter by the containers network settings: `enabled`, `disabled`, `egress-only`.

            ### Image 
            `filter[image]=ID` image filtering by ID.  Submit the ID of the image you wish to filter for and the return will be any containers currently using the image.

            ### Environment
            `filter[environment]=ID` environment filtering by ID.  Submit the ID of the environment you wish to filter for and the return will be any containers in that environment.

            ### Tags
            `filter[tags]=tagone,tagtwo,tagthree` container filtering using server tags. If the container has the tags you submit it will be part of the return. 

            ### Stacks
            `filter[stack]=ID` stack filtering by ID.  Submit the ID of the stack you wish to filter for and the return will be any containers deployed associated with 'containers' from the stack.
          schema:
            type: object
            additionalProperties:
              type: string
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
          style: deepObject
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/PageParam'
      responses:
        '200':
          description: Returns a collection of container resources.
          content:
            application/json:
              schema:
                title: ListContainersResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Container'
                  includes:
                    $ref: '#/components/schemas/ContainerIncludes'
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      operationId: createContainer
      tags:
        - Containers
      parameters: []
      summary: Create Container
      description: Requires the `containers-deploy` capability.
      requestBody:
        description: Parameters for creating a new container.
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - environment_id
                - image_id
                - stateful
                - config
              properties:
                name:
                  type: string
                  description: A user defined name for the container.
                environment_id:
                  type: string
                  description: An identifier for the environment this container will be deployed to.
                image_id:
                  type: string
                  description: An identifier for the image used to create this container.
                stateful:
                  type: boolean
                  description: A boolean where true represents this container is stateful.
                config:
                  $ref: '#/components/schemas/Config'
                volumes:
                  type: array
                  items:
                    $ref: '#/components/schemas/Volumes'
                annotations:
                  type: object
                  description: User defined meta data for the container.
                  additionalProperties:
                    type: string
      responses:
        '201':
          description: Returns a container resource.
          content:
            application/json:
              schema:
                title: ContainerResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Container'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/containers/{containerId}:
    get:
      operationId: getContainerById
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: meta
          in: query
          required: false
          description: A comma separated list of meta values. Meta values will show up under a resource's `meta` field. In the case of applying a meta to a collection of resources, each resource will have it's own relevant meta data. In some rare cases, meta may not apply to individual resources, and may appear in the root document. These will be clearly labeled.
          schema:
            type: array
            items:
              type: string
              enum:
                - instances_count
                - domain
                - domains
                - ips
        - name: include
          in: query
          required: false
          description: A comma separated list of include values. Included resources will show up under the root document's `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - images
                - stack_builds
                - stacks
                - environments
      summary: Fetch Container
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns an container resource.
          content:
            application/json:
              schema:
                title: ContainerResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Container'
                  includes:
                    $ref: '#/components/schemas/InstanceIncludes'
        default:
          $ref: '#/components/responses/DefaultError'
    patch:
      operationId: updateContainer
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the container.
          in: path
          required: true
          schema:
            type: string
      summary: Update Container
      description: Updates the specified container, setting the values of the parameters passed.  If any parameters are omitted, they will be left unchanged. Requires the `contianers-update` capability.
      requestBody:
        description: Parameters for updating a container.
        content:
          application/json:
            schema:
              description: Parameters for updating a container.
              type: object
              properties:
                name:
                  type: string
                  description: The name for the container.
                identifier:
                  type: string
                  description: The name for the identifier.
                deprecate:
                  type: boolean
                  description: Sets whether container should be deprecated.
                annotation:
                  type: object
                  description: User meta data for the container.
                  additionalProperties:
                    type: string
      responses:
        '200':
          description: Returns the updated container resource.
          content:
            application/json:
              schema:
                title: ContainerUpdateResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Container'
        default:
          $ref: '#/components/responses/DefaultError'
    delete:
      operationId: removeContainer
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
      summary: Delete Container
      description: Requires the `contianers-update` capability.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/containers/{containerId}/summary:
    get:
      operationId: getContainerSummary
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch Container Summary
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns an container summary resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ContainerSummary'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/containers/{containerId}/tasks:
    post:
      tags:
        - Containers
      operationId: createContainerJob
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
      summary: Create Container Job
      description: Used to perform different actions on a given container. Requires the `containers-state`, `containers-update`, or `containers-volumes-manage` capability (respectively).
      requestBody:
        description: Parameters for creating a new container job.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ContainerAction'
                - $ref: '#/components/schemas/ReconfigureContainer'
                - $ref: '#/components/schemas/ReconfigureVolumes'
                - $ref: '#/components/schemas/Reimage'
                - $ref: '#/components/schemas/Scale'
      responses:
        '202':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/containers/{containerId}/instances:
    get:
      operationId: getInstances
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the container this instance is created from.
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          required: false
          description: A comma separated list of include values. Included resources will show up under the root document's `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - servers
                - locations
                - providers
                - containers
                - environments
        - name: filter
          in: query
          required: false
          description: |
            ## Filter Field 
            The filter field is a key-value object, where the key is what you would like to filter, and the value is the value you're filtering for.

            ## Possible Values
            ### State
            `filter[state]=value1,value2` state filtering will allow you to filter by the instance's current state.

            ### Search 
            `filter[search]=value` search instances for a value associated with a field on the given instance(s).

            ### Server
            `filter[server]=ID` server filtering by ID.  Submit the ID of the server you wish to filter for and the return will be any instances of the container currently deployed to the given server.
          schema:
            type: object
            additionalProperties:
              type: string
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/PageParam'
      summary: List Instances
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns a collection of contianer instance resources.
          content:
            application/json:
              schema:
                title: ContainerInstanceListResponse
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Instance'
                  includes:
                    $ref: '#/components/schemas/InstanceIncludes'
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      operationId: createContainerInstance
      tags:
        - Containers
      parameters:
        - name: containerId
          description: The ID of the container this instance is created from.
          in: path
          required: true
          schema:
            type: string
      summary: Create Instance(s)
      description: Requires the `containers-update` capability.
      requestBody:
        description: Parameters for creating a container instance.
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - server_id
                  - new_instances
                properties:
                  server_id:
                    type: string
                    description: The ID of the server the new instance(s) should be deployed to.
                  new_instances:
                    type: integer
                    description: The number of new instances to be created on the given server.
      responses:
        '202':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
    delete:
      operationId: removeMultipleContainerInstances
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the container the instance(s) were created from.
          in: path
          required: true
          schema:
            type: string
      summary: Delete Instance(s)
      description: Requires the `containers-update` capability.
      responses:
        '200':
          description: Returns a task descriptor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/containers/{containerId}/instances/{instanceId}:
    get:
      operationId: getContainerInstance
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          required: false
          description: A comma separated list of include values. Included resources will show up under the root document's `include` field, with the key being the id of the included resource. In the case of applying an include to a collection of resources, if two resources share the same include, it will only appear once in the return.
          schema:
            type: array
            items:
              type: string
              enum:
                - creators
                - servers
                - locations
                - providers
                - containers
                - environments
      summary: Fetch Instance
      description: Requires the `containers-view` capability.
      responses:
        '200':
          description: Returns a container instance resource.
          content:
            application/json:
              schema:
                title: ContainerInstanceResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Instance'
                  includes:
                    $ref: '#/components/schemas/InstanceIncludes'
        default:
          $ref: '#/components/responses/DefaultError'
    delete:
      operationId: removeContainerInstance
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
      summary: Delete Instance
      description: Requires the `containers-update` capability.
      responses:
        '200':
          description: Returns a task descriptor
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskDescriptor'
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/containers/{containerId}/instances/{instanceId}/ssh:
    get:
      operationId: getSSHConnection
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
      summary: Fetch SSH Credentials
      description: Requires the `containers-ssh` capability.
      responses:
        '200':
          description: Returns a SSH connection response.
          content:
            application/json:
              schema:
                title: ContainerInstanceSSHResponse
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SSHResponse'
        default:
          $ref: '#/components/responses/DefaultError'
    delete:
      operationId: expireInstanceSSHTokens
      tags:
        - Instances
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          description: The ID for the container instance.
          in: path
          required: true
          schema:
            type: string
      summary: Expire SSH Credentials
      description: Requires the `containers-ssh` capability.
      responses:
        '200':
          description: Returns a data object holding the amount of tokens removed.
          content:
            application/json:
              schema:
                title: ExpireSSHTokenResponse
                type: object
                properties:
                  data:
                    type: object
                    description: The number of tokens expired.
                    required:
                      - tokens
                    properties:
                      tokens:
                        type: integer
                        description: The number of tokens expired.
        default:
          $ref: '#/components/responses/DefaultError'
  /v1/containers/{containerId}/instances/{instanceId}/tasks:
    post:
      tags:
        - Instances
      operationId: createContainerInstanceJob
      parameters:
        - name: containerId
          description: The ID of the requested container.
          in: path
          required: true
          schema:
            type: string
[...]
